body{
font-family: 'Source Sans Pro', sans-serif;

}

.container{
display: flex;
background-color: #fff;
width: 100%;
position: fixed;

}


.cabecalho{
 display: flex;
 background-color: #fff;
justify-content: space-between;
align-items: center;
gap: 40px;
width: 100%;
padding: 20px 40px;

 }

.topo-menu{
color: black;
background-color:#fff;
display: flex;
justify-content: space-evenly;
gap: 30px;



}



.top{
text-decoration: none;
color:black;
display: flex;
justify-content: flex-start;
gap: 10px;

}

.link-topo{
 color: black;
  text-decoration: none; 

}

.topo{
background-image: url(icones/img-fundo.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.apresentacao{
background-color: rgba(46, 139, 87, 0.7);
color: white;
padding: 20px 60px;
text-align:center;
border-radius: 5px;

}

.titulo-um{
font-size: 40px;
margin-bottom: 10px;


}

.titulo-dois{
font-size: 30px;

}

.paragrafo-um{
font-size: 18px;

}

.meio{
text-align: center;
margin: 0 auto;
}

.container-quartos{
display:flex;
justify-content: center;
gap: 30px;
padding: 10px;


}

.imagem-quarto{
width: 300px;
height:auto;
margin-bottom: 15px;
}


.quarto-item{
text-decoration: none;
text-align: center;
display: flex;
flex-direction: column;
}

.item-botao{
text-decoration: none;
color: black;
font-size: 18px;
border-bottom: 3px solid #7bc6a4;

}

#rota{
text-align: center;
margin: 40px

}

.terceiro-titulo{
font-size: 30px;


}

.paragrafo-quatro{
margin: 20px;

}

iframe{
display: flex;
margin: 0 auto;  
width: 100%;
}

#sobre{
max-width: 1000px;  
    margin: 0 auto;     
    padding: 40px 0;

}

.quarto-titulo{
text-align: center;
font-size: 30px;

}

.paragrafo-cinco{
text-align: center;

}

.quarta-image{
width: 120px;       
    height: 120px;   
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}

.container-itens{
display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; 
    padding: 0 20px;

}

.texto {
    flex: 1;


}

.item-conteudo{
display: flex; 
   align-items: flex-start;
  gap: 20px;


}

.footer{
background-color: rgba(46, 139, 87, 0.7);
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
padding: 20px;
}

.nove-titulo{
color: #fff;
font-size: 20px;

}

.paragrafo-onze{
color: #fff;

}

.ultimo-link{
  text-decoration: none;
  color: #fff ;



}

.paragrafo-doze{
color:#fff;
text-align:  center;
background-color: rgba(46, 139, 87, 0.7);
width:  100%;
margin: 1px;
padding: 20px;


}

span{
color:blue;

}