*{
 margin: 0;
 padding: 0;
 font-family: 'Tahoma', sans-serif;
}

body{
  display: block;
  margin: 8px;
}

h1{
font-size:32px;
color: #000000;
text-align: center;
font-family: 'Tahoma' sans-serif;
margin-top: 0 auto;
 white-space: nowrap; 
}

.container{
width:190px;
display: block;
margin: 0 auto;
border: 1px solid #d5d5d5;
}

h2{
font-size: 24px;
font-family: 'Tahoma' sans-serif;
text-align: center;
color: #000000;
background-color: #f5f5f5;
}

p{
font-size: 16px;
text-align:center;
width:930px;
padding: 30px 15px;
margin: auto;
font-family: 'Tahoma' sans-serif;

}

h3{
font-size: 18;
font-family: 'Tahoma' sans-serif;
text-align:center;
color:#000000;
background-color: #f5f5f5;
padding: 15px 30px;
width: 930px;
margin:0 auto;
}

div{
width: 930px;
padding: 15px  30px;
margin: 0 auto;
}

a{
font-size: 14px;
color:#d5d5d5;
background-color:#49b970;
padding: 10px 30px;
border-bottom: 10px;
text-decoration: none;
margin: 0 auto;
border-radius: 10px;
text-align: center;
display: block;
width: 150px;
max-width:90%;
}
